{% extends "base.html" %}
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Atmospheric environment</h1>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body"><canvas id="AirWeekChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Line Chart Example
                    </div>
                    <div class="card-body"><canvas id="lineChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Air pollution data
            </div>
            <div class="card-body">
                <table id="airTable">
                    <thead>
                        <tr>
                            <th style="text-align: center;">시도명</th>
                            <th style="text-align: center;">측정소명</th>
                            <th style="text-align: center;">아황산가스농도</th>
                            <th style="text-align: center;">일산화탄소농도</th>
                            <th style="text-align: center;">오존농도</th>
                            <th style="text-align: center;">이산화질소농도</th>
                            <th style="text-align: center;">미세먼지농도(PM10)</th>
                            <th style="text-align: center;">미세먼지농도(PM25)</th>
                            <th style="text-align: center;">일산화탄소지수</th>
                            <th style="text-align: center;">오존지수</th>
                            <th style="text-align: center;">통합대기환경지수</th>
                            <th style="text-align: center;">통합대기환경수치</th>
                            <th style="text-align: center;">측정일시</th>
                        </tr>
                    </thead>
                    <tbody data-air="{{items}}" data-dis="{{disease}}">
                    {% if items != None %}
                        {% for item in items %}
                        <tr>
                            <td>{{item.sidoName}}</td>
                            <td>{{item.stationName}}</td>
                            <td>{{item.so2Value}}</td>
                            <td>{{item.coValue}}</td>
                            <td>{{item.o3Value}}</td>
                            <td>{{item.no2Value}}</td>
                            <td>{{item.pm10Value}}</td>
                            <td>{{item.pm25Value}}</td>
                            <td>{{item.coGrade}}</td>
                            <td>{{item.o3Grade}}</td>
                            <td>{{item.khaiGrade}}</td>
                            <td>{{item.khaiValue}}</td>
                            <td>{{item.dataTime}}</td>
                        </tr>
                        {% endfor %}
                    <tfoot>
                        <tr>
                            <th style="text-align: center;">시도명</th>
                            <th style="text-align: center;">측정소명</th>
                            <th style="text-align: center;">아황산가스농도</th>
                            <th style="text-align: center;">일산화탄소농도</th>
                            <th style="text-align: center;">오존농도</th>
                            <th style="text-align: center;">이산화질소농도</th>
                            <th style="text-align: center;">미세먼지농도(PM10)</th>
                            <th style="text-align: center;">미세먼지농도(PM25)</th>
                            <th style="text-align: center;">일산화탄소지수</th>
                            <th style="text-align: center;">오존지수</th>
                            <th style="text-align: center;">통합대기환경지수</th>
                            <th style="text-align: center;">통합대기환경수치</th>
                            <th style="text-align: center;">측정일시</th>
                        </tr>
                    </tfoot>
                    {% else %}
                        <tr>
                            <td colspan="13"; style="font-size: 3rem;">API 데이터 없음</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="pagination">
                    <ol id="numbers"></ol>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}