{% extends "base.html" %}
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table class="datatable">
                    <thead>
                        <tr>
                            <th style="text-align: center;">시도명</th>
                            <th style="text-align: center;">측정소명</th>
                            <th style="text-align: center;">아황산가스농도</th>
                            <th style="text-align: center;">일산화탄소농도</th>
                            <th style="text-align: center;">오존농도</th>
                            <th style="text-align: center;">이산화질소농도</th>
                            <th style="text-align: center;">미세먼지농도(PM10)</th>
                            <th style="text-align: center;">미세먼지농도(PM25)</th>
                            <th style="text-align: center;">일산화탄소지수</th>
                            <th style="text-align: center;">오존지수</th>
                            <th style="text-align: center;">통합대기환경지수</th>
                            <th style="text-align: center;">통합대기환경수치</th>
                            <th style="text-align: center;">측정일시</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="text-align: center;">시도명</th>
                            <th style="text-align: center;">측정소명</th>
                            <th style="text-align: center;">아황산가스농도</th>
                            <th style="text-align: center;">일산화탄소농도</th>
                            <th style="text-align: center;">오존농도</th>
                            <th style="text-align: center;">이산화질소농도</th>
                            <th style="text-align: center;">미세먼지농도(PM10)</th>
                            <th style="text-align: center;">미세먼지농도(PM25)</th>
                            <th style="text-align: center;">일산화탄소지수</th>
                            <th style="text-align: center;">오존지수</th>
                            <th style="text-align: center;">통합대기환경지수</th>
                            <th style="text-align: center;">통합대기환경수치</th>
                            <th style="text-align: center;">측정일시</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{item.sidoName}}</td>
                            <td>{{item.stationName}}</td>
                            <td>{{item.so2Value}}</td>
                            <td>{{item.coValue}}</td>
                            <td>{{item.o3Value}}</td>
                            <td>{{item.no2Value}}</td>
                            <td>{{item.pm10Value}}</td>
                            <td>{{item.pm25Value}}</td>
                            <td>{{item.coGrade}}</td>
                            <td>{{item.o3Grade}}</td>
                            <td>{{item.khaiGrade}}</td>
                            <td>{{item.khaiValue}}</td>
                            <td>{{item.dataTime}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}