{% extends "base.html" %}
{% block style %}
{% endblock %}
{% block contents %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://source.unsplash.com/featured/?color')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Write an article</h1>
                    <span class="subheading">If you don't enjoy what you're writing, no one will</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <!-- <form id="contentForm" data-sb-form-api-token="API_TOKEN"></form> -->
                    <input type="hidden" data-test="0000">
                    <form id="contentForm">
                        <div class="form-floating">
                            <input class="form-control" id="board_title" name="title" type="text" placeholder="Enter your Title..." data-sb-validations="required" />
                            <label for="post-title">title</label>
                            <div class="invalid-feedback" data-sb-feedback="title:required">A Title is required.</div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="board_content" name="description" placeholder="Enter your content here..." style="height: 12rem" data-sb-validations="required"></textarea>
                            <label for="content">content</label>
                            <div class="invalid-feedback" data-sb-feedback="content:required">A content is required.</div>
                        </div>
                        <br />
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', path='/js/board/insert.js') }}"></script>
{% endblock %}
