{% extends "base.html" %}
{% block style %}
{% endblock %}
{% block contents %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://source.unsplash.com/featured/?color')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{item.Item.title}}</h1>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{item.User.email}}</a>
                        on {{item.Item.date}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{item.Item.description}}
            </div>
        </div>
    </div>
</article>
{% endblock %}
